/* color */
$color-black: #13131a;
$color-white: #e8f1fa;
$color-gray: #dbdbdd;
$color-darkgray: #949499;
$color-ddarkgray: #5c5555;
$color-dddarkgray: #32393a;
/* Font size */
$font-mmax: 40px;
$font-max: 22px;
$font-sangmax: 20px;
$font-medium: 18px;
$font-regular: 15px;
$font-small: 14px;
$font-min: 12px;
$font-sangmin: 10px;

/* Font weight */
$weight-bold: 700;
$weight-regular: 400;

// media query Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;