/* navig */
.navBox_1 {
  position: fixed;
  top: 24px;
  left: 24px;
}
.mainLogo {
  height: 28px;
}
.navBox .navBox_2__nav {
  position: fixed;
  top: 24px;
  right: 24px;
  font-family: var(--typo-nanum);
}
.navBox_2__nav .link {
  margin: 0px 16px;
  font-size: var(--font-regular);
  color: var(--color-black);
  text-decoration: none;
}
.navBox_2__nav .favicon {
  margin-left: 4px;
  margin-right: 0px;
}
