/* news */
.section_press {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.section_press .press_content {
  width: 600px;
  display: flex;
  flex-direction: column;
  font-family: var(--typo-nanum);
}

.press_element {
  margin-bottom: 40px;
  font-size: var(--font-regular);
}

.press_title {
  margin: 0px;
  margin-bottom: 6px;
  font-weight: var(--weight-regular);
  color: var(--color-ddarkgray);
}

.press_title .press_year {
  margin-right: 10px;
}


.pressImg {
  width: 100%;
}

.clickable {
  cursor: pointer;
}