/* Thankspressure */
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
}
.project .project_content {
  width: 600px;
  display: flex;
  flex-direction: column;
  font-family: var(--typo-nanum);
}
.project_mainImg {
  width: 600px;
  margin-bottom: 32px;
}
.project_header {
  font-size: var(--font-mmax);
  margin-bottom: 40px;
}
.project_header .project_year {
  font-size: var(--font-regular);
}
.project_description {
  line-height: 24px;
  margin-bottom: 40px;
}
.image_reck {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image_reck__imgs {
  width: 600px;
}
.image_reck__btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: -230px;
}
.image_reck__btn .image_btn {
  padding: 20px 10px;
  font-size: var(--font-max);
  color: var(--color-gray);
  border: none;
  background-color: transparent;
  transition: 0.6s ease;
  cursor: pointer;
}
.image_btn:hover {
  background-color: var(--color-darkgray);
}
.image_reck__dot .dot {
  height: 15px;
  width: 15px;
  position: relative;
  top: -50px;
  margin: 0 2px;
  border: none;
  border-radius: 50%;
  transition: 0.3s ease;
}
.image_reck__dot .dot:hover {
  background-color: var(--color-darkgray);
}
.project_exit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.exit_btn {
  border: none;
  cursor: pointer;
}
