:root {
  /* color */
  --color-black: #13131a;
  --color-white: #e8f1fa;
  --color-gray: #dbdbdd;
  --color-darkgray: #949499;
  --color-ddarkgray: #5c5555;
  --color-dddarkgray: #32393a;
  /* Font size */
  --font-mmax: 40px;
  --font-max: 22px;
  --font-sangmax: 20px;
  --font-medium: 18px;
  --font-regular: 15px;
  --font-small: 14px;
  --font-min: 12px;
  --font-sangmin: 10px;
  /* Font weight */
  --weight-Extra-bold: 700;
  --weight-bold: 600;
  --weight-medium: 400;
  --weight-light: 300;
  /* Font family */
  /* Google */
  --typo-nanum: "Nanum Myeongjo", serif;
}
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap");

/* universe */
* {
  box-sizing: border-box;
  -webkit-appearance: none;
}
body {
  margin: 0px;
}
/* only Head on project_content */
h1 {
  margin: 0px;
}
/* only name on About */
h2 {
  margin: 0px;
}
p {
  margin: 0px;
}
