/* work */
.section_work {
  display: flex;
  justify-content: center;
  margin: 200px 8px 100px 8px;
}

.section_work .section_work__projectReck {
  width: 100vw;
  display: flex;
  font-family: var(--typo-nanum);
}

.project_index {
  height: 100%;
  margin: 0px 32px;
  color: var(--color-black);
  text-decoration: none;
}

.index_img {
  width: 270px;
  height: 427px;
  margin-bottom: 8px;
  cursor: pointer;
  object-fit: cover;
}

.index_header {
  font-size: var(--font-sangmax);
}