@media screen and (max-width: 768px) {
  .section_contact {
    height: 68vh;
    margin: 0px;
    margin-top: 110px;
  }
  .contect_description {
    margin-bottom: 20px;
    font-size: var(--font-small);
    line-height: 24px;
  }
  .contact_email {
    font-size: var(--font-regular);
  }
  .reremove {
    display: inline;
  }
}
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}
