@media screen and (max-width: 768px) {
  .section_press {
    align-items: none;
    margin-top: 100px;
    margin-bottom: -20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .section_press .press_content {
    width: 100%;
  }

  .press_element {
    margin-bottom: 30px;
    font-size: var(--font-regular);
  }

  .press_title {
    margin-left: 12px;
  }

  .press_title .press_year {
    margin-right: 6px;
  }
}

@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .section_press {
    align-items: none;
    margin-top: 100px;
    margin-bottom: -20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .section_press .press_content {
    width: 100%;
  }

  .press_element {
    margin-bottom: 30px;
    font-size: var(--font-regular);
  }

  .press_title {
    margin-left: 12px;
  }

  .press_title .press_year {
    margin-right: 6px;
  }
}