@media screen and (max-width: 768px) {
  footer {
    margin-top: 80px;
    margin-bottom: 16px;
  }
  .footer_welcome {
    font-size: var(--font-min);
    margin-bottom: 12px;
  }
}
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  footer {
    margin-top: 80px;
    margin-bottom: 16px;
  }
  .footer_welcome {
    font-size: var(--font-min);
    margin-bottom: 12px;
  }
}
