@import './common/variables.scss';

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-left: 8px;
  margin-right: 8px;
}

.flexBox {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;

  & img {
    margin-bottom: 16px;
  }

  & .content {
    width: 400px;

    & h1 {
      margin-bottom: 6px;
      font-size: $font-max;

      & span {
        font-size: $font-regular;
      }
    }

    & p {
      font-size: $font-small;
      color: $color-darkgray;
    }
  }
}

.desription {
  margin: 0px 48px;
  margin-bottom: 60px;
  font-size: $font-medium;
  line-height: 24px;

  & p {
    margin-bottom: 32px;
  }
}

.cv {
  margin: 0px 48px;
  margin-bottom: 30px;
  font-size: $font-regular;
  line-height: 24px;

  & h2 {
    margin: 0px;
    font-size: $font-medium;
    font-weight: $weight-bold;
  }

  & ul {
    padding: 0px;
    color: $color-ddarkgray;
  }
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}