@import './common/variables.scss';


.section {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 200px 0px 100px 0px;
  padding: 0px 16px;

}

.flexBox {
  display: flex;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}


.project {
  width: 270px;
  margin: 0px 16px;
  color: $color-black;

  & img {
    margin-bottom: 8px;
  }

  & h1 {
    font-size: $font-sangmax;
    font-weight: $weight-regular;
  }
}