@media screen and (max-width: 768px) {
  .section_about {
    margin: 0px;
    margin-top: 100px;
  }

  .section_about .section_about__box {
    width: 100%;
  }

  .profile {
    margin-bottom: 40px;
  }

  .profile .profile_img {
    width: 200px;
    margin-bottom: 8px;
  }

  .profile .profile_content {
    width: 200px;
  }

  .profile .profile_content .profile_header {
    font-size: var(--font-regular);
    margin-bottom: 4px;
  }

  .profile .profile_content .profile_header span {
    font-size: var(--font-min);
  }

  .profile .profile_content .profile_detail {
    font-size: var(--font-sangmin);
    line-height: 14px;
  }

  .profile .profile_content .profile_detail .remove {
    display: none;
  }

  .section_about .description {
    margin: 0px 20px;
    margin-bottom: 30px;
    font-size: var(--font-small);
    line-height: 18px;
  }

  .description .description_1 {
    margin-bottom: 20px;
  }

  .cv_section {
    margin: 0px 20px;
    margin-bottom: 14px;
    font-size: var(--font-min);
    line-height: 18px;
  }

  .cv_section h3 {
    font-size: var(--font-small);
  }
}

@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .section_about {
    margin: 0px;
    margin-top: 100px;
  }

  .section_about .section_about__box {
    width: 100%;
  }

  .profile {
    margin-bottom: 40px;
  }

  .profile .profile_img {
    width: 200px;
    margin-bottom: 8px;
  }

  .profile .profile_content {
    width: 200px;
  }

  .profile .profile_content .profile_header {
    font-size: var(--font-regular);
    margin-bottom: 4px;
  }

  .profile .profile_content .profile_header span {
    font-size: var(--font-min);
  }

  .profile .profile_content .profile_detail {
    font-size: var(--font-sangmin);
    line-height: 14px;
  }

  .profile .profile_content .profile_detail .remove {
    display: none;
  }

  .section_about .description {
    margin: 0px 20px;
    margin-bottom: 30px;
    font-size: var(--font-small);
    line-height: 18px;
  }

  .description .description_1 {
    margin-bottom: 20px;
  }

  .cv_section {
    margin: 0px 20px;
    margin-bottom: 14px;
    font-size: var(--font-min);
    line-height: 18px;
  }

  .cv_section h3 {
    font-size: var(--font-small);
  }
}