@media screen and (max-width: 768px) {
  .main_reck__imgs {
    width: 100%;
  }
  .main_reck__btn .main_btn {
    padding: 30px 10px;
    font-size: var(--font-max);
  }
}
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .main_reck__imgs {
    width: 100%;
  }
  .main_reck__btn .main_btn {
    padding: 30px 10px;
    font-size: var(--font-max);
  }
}
